.product-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: space-around;
}

.product-list_size-160 {
  grid-template-columns: repeat(auto-fill, 160px);
}

.product-list_size-320 {
  grid-template-columns: repeat(auto-fill, 320px);
}

.product-list_size-480 {
  grid-template-columns: repeat(auto-fill, 480px);
}