.product {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.product__price {
  display: flex;
  flex-direction: column;
  color: #F1B072;
  font-size: 16px;
 }
 
 .product__prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 0px 0px 20px;
 }

.product__pricePerCarat {
  color: #FFFFFF;
  font-size: 12px;
 }

.product__description {
  display: flex;
  justify-content: space-between;
  color: #8A8A8A;
  font-size: 14px;
  margin: 3px 10px 0px 10px;
  overflow: hidden;
  flex-direction: row;
}

.product__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__img-item {
  height: 320px;
  width: 320px;
  border: none;
}

.product__size-160 {
  width: 160px;
}

.product__size-320 {
  width: 320px;
}

.product__size-480 {
  width: 480px;
}

.product__img-item_size-160 {
  width: 160px;
  height: 160px;
}

.product__img-item_size--320 {
  width: 320px;
  height: 320px;
}

.product__img-item_size-480 {
  width: 480px;
  height: 480px;
}

.product__description_size-160 {
  flex-direction: column;
}